/*
 * landing.css
 * Author: Arun Varma
 * Date: July 3, 2015
 */

@font-face {
  font-family: 'sourcesanspro_light';
  src: url(../font/sourcesanspro_light.otf);
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-family: 'sourcesanspro_light';
  font-weight: normal;
  font-size: 36px;
  text-align: center;
}

h2 {
  font-family: 'sourcesanspro_light';
  font-weight: normal;
  font-size: 18px;
}

p {
  font-family: 'sourcesanspro_light';
  font-weight: normal;
}

a {
  font-family: 'sourcesanspro_light';
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
}

hr {
  width: 30%;
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.4));
}

.text_chooser {
  position: absolute;
  font-size: 15px;
  color: white;
  padding: 0;
  margin-left: 20px;
  margin-top: 10px;
}

.japanese_text {
  display: none;
}

.page_hider {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 0);
}

.site_link {
  display: inline-block;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  width: 150px;
}

.site_link img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.site_link p {
  text-align: center;
  width: 100%;
}

.flag_icon {
  height: 60px;
  display: block;
}

.scroll_down_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.scroll_down_box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(130, 130, 130, 0.6);
}

.scroll_down_link {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 15px;
}

.person_profile {
  width: 33.33%;
  height: 100%;
  background-size: cover;
  float: left;
}

.person_description_wrapper {
  position: absolute;
  bottom: 0;
  width: 33.33%;
  height: 100px;
}

.person_description_box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(120, 120, 120, 0.5);
}

.person_description_wrapper h2 {
  position: absolute;
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0;
}

.person_description_caption {
  position: absolute;
  color: white;
  margin-left: 20px;
  margin-top: 30px;
  padding: 0;
}

.person_description_intro {
  display: none;
  position: absolute;
  color: white;
  margin-left: 20px;
  margin-top: 80px;
}

.person_description_intro.japanese_text {
  font-size: 14px;
}

.workshop_wrapper {
  width: 500px;
  display: table-cell;
}

#front_page_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#logo_wrapper {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/landing.jpg);
  background-size: cover;
  box-sizing: border-box;
  ms-box-sizing: border-box;
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
}

#logo {
  width: 500px;
  height: 270px;
  margin: 0 auto;
  margin-top: 140px;
  background-image: url(../images/logo_transparent.png);
  background-size: 100% 90%;
  background-position: center;
  background-repeat: no-repeat;
}

#scroll_down_link_p1 {
  color: white;
}

#about_page_wrapper {
  position: relative;
  background-image: url(../images/moons.jpg);
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 100%;
}

#about_page_wrapper h1 {
  color: white;
  padding-top: 150px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
}

#about_description_english {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 50px;
}

#about_description_japanese {
  font-size: 16px;
  color: white;
  text-align: left;
  margin-left: 35%;
  margin-top: 100px;
  width: 400px;
}

#scroll_down_link_p2 {
  color: black;
}

#video_page_wrapper {
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
  display: block;
}

#video_player {
  width: 100%;
  height: 100%;
}

#who_page_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

#who_page_hider {
  background-color: white;
}

#who_page_wrapper h1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 0;
  margin-top: 30px;
  color: black;
}

#tomoya_profile {
  background-image: url(../images/tomoya_profile.jpg);
}

#arun_profile {
  background-image: url(../images/arun_profile.jpg);
}

#sujay_profile {
  background-image: url(../images/sujay_profile.jpg);
}

#activities_page_wrapper {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/wiktor.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
}

#activities_page_wrapper h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  left: 0;
  right: 0;
  padding: 0;
  margin-top: 30px;
  color: white;
}

#activities_page_wrapper p {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

#activities_page_header {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
  padding-top: 30px;
  padding-bottom: 50px;
}

#site_chooser_wrapper {
  text-align: center;
  padding: 0;
}

#site_chooser_wrapper p {
  color: white;
  font-size: 15px;
}

#workshops_page_wrapper {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/workshop.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

#workshops_page_wrapper h1 {
  color: white;
  padding-top: 30px;
  margin: 0;
  text-align: center;
}

#workshops_page_wrapper p {
  text-align: center;
  font-size: 20px;
  color: white;
}

#workshop_description_wrapper {
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: table;
}

#workshop_description_wrapper h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}

#workshop_description_wrapper p {
  font-size: 15px;
  width: 380px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

#workshop_description_wrapper iframe {
  width: 400px;
  height: 230px;
}

#contact_page_wrapper {
  background-color: rgba(0, 0, 0, 0.9);
  padding-bottom: 30px;
  text-align: center;
}

#contact_page_wrapper h2 {
  text-align: center;
  color: white;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

#contact_page_wrapper p {
  text-align: center;
  color: white;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

#contact_page_wrapper a {
  text-align: center;
  text-decoration: none;
  color: white;
  display: inline-block;
}
