<!-- landing.html
Author: Arun Varma
Date: July 3, 2015
-->

<!DOCTYPE html>
<html>
  <head>
    <title>Metaplaneta | Home</title>
    <link rel='stylesheet' href='../css/landing.css' type='text/css'/>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/landing.js"></script>
  </head>

  <body>
    <div id="front_page_wrapper">
      <div id="front_page_hider" class="page_hider"></div>

      <div id="logo_wrapper">
        <div id="logo">
        </div>

        <div id="site_language_wrapper">
          <a id="english_choose_link" href="#" onclick="return false;">English</a>
          <a id="japanese_choose_link" href="#" onclick="return false;">Japanese</a>
        </div>

        <div id="scroll_down_wrapper_p1" class="scroll_down_wrapper">
          <div id="scroll_down_box_p1" class="scroll_down_box"></div>
          <a id="scroll_down_link_p1" class="scroll_down_link" href="#" onclick="return false;">&#x25BC; Scroll</a>
        </div>
      </div>
    </div>

    <div id="about_page_wrapper">
      <div id="about_page_hider" class="page_hider"></div>

      <h1>The Mission</h1>

      <p id="about_description_english" class="english_text">
        Metaplaneta are a creative think tank that investigates a multidisciplinary approach to space to make the space industry more academically diverse.
        We always have one question in mind: “How can we perceive space exploration as not just a scientific endeavor, but as a tool to help us explore and expand mankind’s potential?”
        Answering this question requires a multidisciplinary collaboration and an out-of-Earth thinking. We need to democratize space.
      </p>

      <p id="about_description_japanese" class="japanese_text">
        メタプラネタ（通称メタプラ）は、宇宙開発の学際的なアプローチを真髄に追求するクリエイティブ・シンク・タンクだ。

        Metaはラテン語で“Beyond”、Planetaはギリシャ語で “Planet”を意味する。従ってMetaplanetaには “Beyond the Planet"（この惑星の先へ）”という意味が込められている。

       『いかに宇宙を人類がいどむ未知の領域としてではなく、人類のさらなる可能性を探求できるツールとして捉えるか？』

        この問いを軸に、メタプラは若い世代を対象とした宇宙ニュースサイトの運営やワークショップの開催を行っている。
      </p>

      <div id="scroll_down_wrapper_p2" class="scroll_down_wrapper">
        <div id="scroll_down_box_p2" class="scroll_down_box"></div>
        <a id="scroll_down_link_p2" class="scroll_down_link" href="#" onclick="return false;">&#x25BC; Keep going</a>
      </div>
    </div>

    <div id="who_page_wrapper">
      <h1>The Space Cadets</h1>

      <div id="tomoya_profile" class="person_profile">
        <div id="tomoya_description" class="person_description">
          <div id="tomoya_description_box" class="person_description_box"></div>
          <h2>Tomoya Mori, Co-Founder</h2>
          <p>Brown University 2016<br>
            Astronomy
          </p>
        </div>
      </div>

      <div id="arun_profile" class="person_profile">
        <div id="arun_description" class="person_description">
          <div id="arun_description_box" class="person_description_box"></div>
          <h2>Arun Alejandro Varma, ???</h2>
          <p>Brown University 2016<br>
            Applied Mathematics/Computer Science
          </p>
        </div>
      </div>

      <div id="sujay_profile" class="person_profile">
        <div id="sujay_description" class="person_description">
          <div id="sujay_description_box" class="person_description_box"></div>
          <h2>Sujay Natson, Co-Founder</h2>
          <p>Brown University 2016<br>
            Political Science/Geology
          </p>
        </div>
      </div>

      <div id="who_page_hider" class="page_hider"></div>
    </div>
  </body>
</html>
